.left {
    /* 左侧容器，绝对定位 */
    position: absolute;
    left: -25%;
    top: 0rem;
}

.left p img {
    /* 左侧容器内图片的大小 */
    height: 1rem;
    width: 1rem;
}

.left p span {
    /* 左侧容器内文本的样式 */
    font-weight: 100;
    color: gray;
}

.fall {
    /* 主容器，设置边距和宽度，使用多列布局 */
    margin: 0 20% 0 30%;
    width: 50%;
    column-count: 4;
    box-sizing: border-box;
    position: relative;
}

.fall .item {
    /* 主容器内每个项目的样式 */
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5px 5px 5px gray;
    /* 阴影效果 */
    break-inside: avoid;
    /* 防止列内断开 */
    padding: .5rem;
    margin: .3rem;
}

.fall .item p {
    /* 项目内段落的样式 */
    margin: 0;
}

.fall .item img {
    /* 项目内图片的样式 */
    width: 100%;
    height: auto;
}

.fall img::after {
    /* 图片后的伪元素，绝对定位 */
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
}

p {
    /* 段落文本居中 */
    text-align: center;
}