h1{
    margin-bottom: 1px;
}
body {
    background-color: rgb(239, 239, 239);
    cursor: url('./cursor/Arrow.ico'), auto;
    
}

/* span.wait {cursor: url('./cursor/Wait.ani'), auto;}
span.text {cursor: url('./cursor/Cross.ani'), auto;}
span.pointer {cursor: url('./cursor/Hand.cur'), auto;} */

.main {
    width: 1020px;
    margin: 1rem auto;
}

.main div {
    width: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    width: 250px;
}

.box {
    width: 63.75rem;
    margin: 2rem auto;
}

.line {
    margin-top: 1px;
    background-color: #666;
    border-left: 250px solid blue;
    height: 6px;
}

h3{
    padding-left: .8rem;
}
hr {
    color: darkgrey;
    width: 225px;
    border-top: 1px dashed;
    background-color: transparent;
  
}
div p{
    margin: .7rem;
    font-size: 14px;
    color: rgb(145, 145 ,145);
    line-height:26px
}
img{
    padding-right: 1rem;
    text-indent: 30px;
}